meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Empresas del sector solidario: fundamentos administrativos
meta(meta name="description" content="Una vez definida la economía solidaria y la importancia de este sector, en este material de formación se revisará el procedimiento para crear una empresa del sector solidario como las cooperativas. Adicionalmente, se estudiará su estructura funcional y las diferentes actividades que se deben desarrollar para constituir este tipo de organizaciones de acuerdo a la normatividad vigente.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")