h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 230101142-02. Diseñar la estructura funcional de la empresa asociativa teniendo en cuenta las técnicas, las teorías administrativas, las políticas organizacionales y la normatividad legal vigente.





