.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Cooperativas de consumo: 
            | son las que abastecen directamente las cooperativas de producción o centrales de otras cooperativas.
        hr

        p
            strong.mr-2 Cooperativas de trabajo: 
            | grupo de personas que realizan actividades para prestar servicios a la comunidad.

        hr

        p
            strong.mr-2 Cooperativas especializadas: 
            | se organizan para atender una necesidad específica, correspondiente a una sola rama de la actividad económica social o cultural.

        hr

        p
            strong.mr-2 Cooperativas integrales: 
            | son las que realizan entre sí una o dos actividades complementarias.

        hr

        p
            strong.mr-2 Cooperativa multiactiva: 
            | es aquella que maneja varios tipos de cooperativas o que maneja diversas unidades estratégicas de negocio como ahorro, aporte, crédito y comercialización de productos y servicios.
        hr

        p
            strong.mr-2 Estatutos: 
            | son los reglamentos o normas que regulan la vida de las organizaciones solidarias.
        hr

        p
            strong.mr-2 Precooperativas: 
            | grupo de personas que mediante la orientación y el concurso de una entidad promotora se organizan para realizar actividades permitidas a las cooperativas.