.container
    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white
        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th(style="width:160px") Enlace del recurso

            tbody
                tr
                    td Estructura administrativa y funciones de los órganos de dirección, administración, control y asesoría de las organizaciones de economía solidaria  
                    td Publicación en PDF
                    td 
                        a(href="../media/documentos/AA2_MC1_Organizaciones_de_economia_solidaria.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver material

                tr
                    td La estructura empresarial y administrativa de las cooperativas y organizaciones solidarias
                    td Publicación en PDF
                    td 
                        a(href="../media/documentos/AA2_MC2_Cooperativas_y_organizaciones_solidarias.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver material