include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Arango, M. (2005a). Manual de cooperativismo y economía solidaria.", "https://ebookcentral-proquest-com.bdigital.sena.edu.co/lib/senavirtualsp/reader.action?docID=3173344")

        +referenciaItem("Dinero. (2019). Piden un pacto por la economía solidaria en Colombia.", "https://www.dinero.com/pais/articulo/pacto-por-la-economia-solidaria-de-cooperativas-colombianas/266775")

        +referenciaItem("León, G. (2018a). Estructura administrativa y funciones. ", "https://www.orgsolidarias.gov.co/sites/default/files/archivos/Estructura%20administrativa%20y%20funciones.pdf")

        +referenciaItem("Superintendencia Financiera de Colombia. (2000). Cooperativas.","https://www.superfinanciera.gov.co/jsp/Publicaciones/publicaciones/loadContenidoPublicacion/id/18606/dPrint/1/c/00", "https://www.superfinanciera.gov.co/jsp/Publicaciones /publicaciones/loadContenidoPublicacion/id/18606/dPrint/1/c/00")

        +referenciaItem("Supersolidaria. (2009). Pasos para elaboración de estatutos.", "http://www.supersolidaria.gov.co/sites/default/files/public/data/guia-estatutos-cooperativas-de-trabajo-asociado-supersolidaria-sep-09.pdf")


        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            