.container

    .header-ecored
        h1 2. Cooperativas


    .jumbotron.bg-white

        .row.align-items-center 
            .col-12.col-md-6
                .p-4
                    img(src="assets/images/pages/tema-2/cooperativa.svg").img-fluid
            .col-12.col-md-6
                p Una cooperativa, según la Superintendencia Financiera de Colombia (2000), se define como “empresa asociativa sin ánimo de lucro en la cual los trabajadores o los usuarios, según el caso, son simultáneamente los aportantes y los gestores de la empresa, creada con el objeto de producir o distribuir conjunta y eficientemente bienes o servicios, para satisfacer las necesidades de sus asociados y de la comunidad en general”.

                p De acuerdo con lo anterior, los mismos miembros de las cooperativas organizan sus recursos para producir bienes y servicios, su actividad económica la ejercen en diferentes áreas como el sector industrial, agropecuario, financiero, comercial y de servicios. 


        .jumbotron 
            p En concordancia, los trabajadores bajo esta figura se llaman socios, ellos mismos organizan sus recursos para llevar a cabo diferentes actividades del sector económico al cual pertenecen.


        .subtitulo-guion.mt-5
            h2 2.1 Clases

        p Las cooperativas como organizaciones que se encuentran aportando a la economía del sector, pueden ser agrupadas de diversas maneras a nivel nacional o local y realizar sus actividades en los diferentes sectores económicos.

        p De acuerdo con la naturaleza y el propósito por el cual fueron constituidas, las cooperativas se pueden clasificar de la siguiente forma:

        .row.justify-content-center.mt-5

            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-2/clase-1.svg").img-fluid
                        p.card__copy #[strong Especializadas:] cumplen sus actividades de manera especifica en lo que concierne a lo social o cultural, entre ellas están: 

                        ul.bg-color-dark.mt-5
                            li 
                                span Cooperativas de producción, de mercado agrícola, de ahorro y crédito. 
                            li 
                                span Cooperativas de trabajo, transporte, educación y vivienda.

        .row.justify-content-center.mt-5

            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-2/clase-2.svg").img-fluid
                        p.card__copy #[strong Integrales:] son las que realizan entre sí una o dos actividades complementarias, cuyo objetivo es la producción de bienes y servicios para terceros y la obtención de bienes y servicios para sus asociados.


        .row.justify-content-center.mt-5

            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-2/clase-3.svg").img-fluid
                        p.card__copy #[strong Multiactivas:] realizan varias actividades para atender necesidades diversas dentro de una misma persona jurídica, entre ellas están:

                        ul.bg-color-dark.mt-5
                            li 
                                span Cooperativas de ahorro, crédito y consumo. 
                            li 
                                span Cooperativas de educación y salud. 
                            li 
                                span Cooperativas de producción, mercadeo y consumo.


        .subtitulo-guion.mt-5
            h2 2.2 Tipos

        p Existen diferentes tipos de cooperativas, como se describen a continuación

        .header-arrow.my-5
            h3.text-center Tipos de cooperativas:

        .row.justify-content-center.mt-6
            .col-12.col-md-10
                #accordionTema2.accordion
                    .card
                        #headingTema2One.card-header
                            h3.mb-0
                                button.ml-0.pl-0.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseTema2One', aria-expanded='true', aria-controls='collapseTema2One')
                                    h3.mb-0.collapsable-title.d-flex.align-items-center Precooperativas
                        #collapseTema2One.collapse.show(aria-labelledby='headingTema2One', data-parent='#accordionTema2')
                            .card-body
                                h4 Propósito
                                ul.bg-color-dark
                                    li 
                                        span Educar social y económicamente a sus asociados. 
                                    li 
                                        span Organizar la prestación de servicios y suministro de bienes dentro del espíritu solidario. 
                                    li 
                                        span Desarrollar procesos de formación, capacitación y adiestramiento de sus miembros. 

                                h4 Características
                                ul.bg-color-dark
                                    li
                                        span Su duración se limita a cinco (5) años.
                                    li 
                                        span Evolucionan hacia cooperativa plena.
                                    li 
                                        span Admiten el patrocinio de una entidad promotora y su participación en los órganos de gobierno.
                                    li 
                                        span Pueden ser promovidas por otras entidades que asesoren técnica, administrativa y económicamente, y pueden participar de su administración.


        
                    .card
                        #headingTema2Two.card-header
                            h3.mb-0
                                button.ml-0.pl-0.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTema2Two', aria-expanded='false', aria-controls='collapseTema2Two')
                                    h3.mb-0.collapsable-title.d-flex.align-items-center Asociaciones mutuales
                        #collapseTema2Two.collapse(aria-labelledby='headingTema2Two', data-parent='#accordionTema2')
                            .card-body
                                h4 Propósito
                                ul.bg-color-dark
                                    li 
                                        span Constituir un sistema solidario de servicios mutuos, fundado en la asociación voluntaria de personas que se unen con objetivos comunes de ayuda recíproca. 

                                h4 Características
                                ul.bg-color-dark
                                    li
                                        span Se sustentan integrando un patrimonio del que nadie es propietario individualmente sino que pertenece al conjunto total.
                                    li 
                                        span En el aspecto social, se basan en la conformación del grupo humano que se integra para satisfacer sus necesidades, excluyendo los egoísmos e intereses personales.

                    .card
                        #headingTema2Three.card-header
                            h3.mb-0
                                button.ml-0.pl-0.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTema2Three', aria-expanded='false', aria-controls='collapseTema2Three')
                                    h3.mb-0.collapsable-title.d-flex.align-items-center Fondos de empleados
                        #collapseTema2Three.collapse(aria-labelledby='headingTema2Three', data-parent='#accordionTema2')
                            .card-body
                                h4 Propósito
                                ul.bg-color-dark
                                    li 
                                        span Contribuir en la solución de las necesidades de sus asociados, a través de los servicios de ahorro y crédito y de los demás que sean complementarios. 
                                    li 
                                        span Contribuir a elevar la calidad de vida de los asociados y servidores públicos.

                                h4 Características
                                ul.bg-color-dark
                                    li
                                        span La asociación y retiro son voluntarios. 
                                    li 
                                        span Se garantiza la igualdad de los derechos de participación y decisión de los asociados sin consideración a sus aportes.
                                    li 
                                        span Prestan servicios en beneficio de sus asociados.
                                    li 
                                        span Establecen la irrepartibilidad de las reservas sociales y, en caso de liquidación, la del remanente patrimonial. 
                                    li
                                        span Los excedentes se destinan a la prestación de servicios de carácter social y al crecimiento de sus reservas y fondos.
                                    li 
                                        span Su patrimonio es variable e ilimitado.
                                    li 
                                        span Se constituyen con duración indefinida. 
                                    li 
                                        span Se fomenta la solidaridad y los lazos de compañerismo entre los asociados.
                                
                    .card
                        #headingTema24.card-header
                            h3.mb-0
                                button.ml-0.pl-0.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTema24', aria-expanded='false', aria-controls='collapseTema24')
                                    h3.mb-0.collapsable-title.d-flex.align-items-center Administraciones Públicas Cooperativas (APC)
                        #collapseTema24.collapse(aria-labelledby='headingTema24', data-parent='#accordionTema2')
                            .card-body
                                h4 Propósito
                                ul.bg-color-dark
                                    li 
                                        span Prestar servicios eficientes a sus asociados y por extensión, proporcionar bienestar general a las personas que los atienden en las condiciones que establezcan los estatutos de cada entidad. 

                                h4 Características
                                ul.bg-color-dark
                                    li
                                        span Disfrutan de autonomía administrativa, económica y financiera, compatible con su naturaleza de entidades del sector cooperativo. 
        
                                    li 
                                        span Funcionan de conformidad con el principio de la participación democrática.
                                    li 
                                        span Tienen por objeto prestar servicios a sus asociados y a los ciudadanos en general.

                                    li 
                                        span Establecen la irrepartibilidad de las reservas sociales y, en caso de liquidación, la del remanente patrimonial. 

                                    li
                                        span Destinan sus excedentes a la prestación de servicios de carácter social y al crecimiento de sus reservas y fondos, sin perjuicio de amortizar los aportes y conservarlos en su valor real.
                                    li 
                                        span Adoptan el principio de libre ingreso y retiro de sus asociados, cuyo número será variable e ilimitado, pero en ningún caso inferior a cinco (5). 
                                    li 
                                        span Se constituyen con duración indefinida.

            p.mt-6 Otras cooperativas que se pueden mencionar son las empresas asociativas de trabajo, cuyo objetivo es la producción, comercialización y distribución de bienes básicos de consumo familiar o la prestación de servicios individuales o conjuntos de sus miembros con ánimo de lucro. También se encuentran las microempresas solidarias, entre otras. 
