.container

    .header-ecored
        h1 3. Estatutos

    .jumbotron.bg-white
                
        p Son los reglamentos o normas que regulan la vida de las organizaciones solidarias, sean cooperativas, fondos de empleados o asociaciones mutuales y son obligatorios para todos los asociados. 

        .p-4.text-center
            img(src="assets/images/pages/tema-3/estatutos.svg", style="max-width:300px").img-fluid


        .subtitulo-guion.mt-5
            h2 3.1 Elaboración

        p Antes de realizar los estatutos primero se debe formalizar la empresa de economía solidaria, en este caso tomaremos como ejemplo una cooperativa y a continuación, se describen los pasos para formalizarla:

        .header-arrow.my-5
            h3.text-center Pasos para elaboración de estatutos:

        .row.justify-content-center.my-6
            .col-12.col-md-6
                img(src="assets/images/pages/tema-3/pasos.svg").img-fluid


        p De acuerdo con los pasos a seguir, deben existir personas con voluntad manifiesta de asociarse bajo una cooperativa, se requieren mínimo veinte personas para crearla y se debe definir el tipo de cooperativa según la necesidad específica y la dedicación hacia la actividad económica social o cultural.

        .jumbotron
            p Por ley, los asociados de una cooperativa deben realizar un curso básico en economía solidaria de al menos 20 horas, en una institución o entidad acreditada por la Unidad Administrativa Especial de Organizaciones Solidarias.

        p Una vez se realiza la capacitación, se elabora un proyecto de estatutos en un documento que debe al menos esbozar una versión previa de los estatutos que, posteriormente, serán debatidos en la asamblea con todos los asociados. Este proyecto debe incluir lo siguiente:

        ul.bg-color-dark.my-4
            li.mb-1
                span Nombre tentativo de la cooperativa.
            li.mb-1
                span Domicilio de la organización.
            li.mb-1
                span Tipo de cooperativa: si es especializada, multiactiva o integral.
            li.mb-1
                span Objeto de la cooperativa: las actividades que realizará la organización.
            li.mb-1
                span El alcance de la cooperativa: si es regional, nacional o internacional.


        .jumbotron.my-5
            .row.align-items-center 
                .col-auto
                    p.text-center
                        img(src="assets/images/pages/tema-3/asamblea.svg",style="max-width:220px").img-fluid
                .col
                    p Después de realizar los respectivos estatutos, se convoca a una asamblea de constitución para que sean discutidos y aprobados por los asociados; finalmente, se hace la inscripción ante la cámara de comercio, la superintendencia respectiva y la DIAN; previo al cumplimiento de los requisitos exigidos por cada uno de los organismos citados.

        .header-arrow.my-5
            h3.text-center Otras actividades asociadas a la realización de los estatutos de una cooperativa son los siguientes:

        section#principios.mt-6.mb-5
            .row.justify-content-center
                .col-12.col-md-8

                    .box.d-flex.align-items-center.mb-4
                        .box-number.bg-brand-color-dark-light
                            .font-weight-bold.text-1x.p-4 1.
                        .box-text.bg-brand-color-secondary
                            p.interlineado-sencillo.m-0.p-4 Establecer los datos referentes a la identificación de la cooperativa.

                    .box.d-flex.align-items-center.mb-4
                        .box-number.bg-brand-color-dark-light
                            p.font-weight-bold.text-1x.p-4 2.
                        .box-text.bg-brand-color-secondary
                            p.interlineado-sencillo.m-0.p-4 Definir todo lo relacionado al proceder de los asociados de la cooperativa.

                    .box.d-flex.align-items-center.mb-4
                        .box-number.bg-brand-color-dark-light
                            p.font-weight-bold.text-1x.p-4 3.
                        .box-text.bg-brand-color-secondary
                            p.interlineado-sencillo.m-0.p-4 Definir todo lo relacionado al establecimiento y manejo de las finanzas en la cooperativa. 
                    
                    .box.d-flex.align-items-center.mb-4
                        .box-number.bg-brand-color-dark-light
                            p.font-weight-bold.text-1x.p-4 4.
                        .box-text.bg-brand-color-secondary
                            p.interlineado-sencillo.m-0.p-4 Establecer todo lo relativo a la estructura y funcionamiento de la cooperativa.

                    .box.d-flex.align-items-center.mb-4
                        .box-number.bg-brand-color-dark-light
                            p.font-weight-bold.text-1x.p-4 5.
                        .box-text.bg-brand-color-secondary
                            p.interlineado-sencillo.m-0.p-4 Dar legitimidad a los estatutos. 

        p Por lo anterior y siguiendo el paso a paso para la elaboración de los estatutos, se pueden mencionar los siguientes aspectos: 

        ul.bg-color-dark
            li 
                span Tener los datos de identificación, domicilio y contacto de los asociados fundadores que suscriben el objeto de la entidad, especificando cuáles son las actividades que va a desarrollar la cooperativa, la duración de la cooperativa o si es de duración indefinida.
            li 
                span Establecer los derechos y deberes de los asociados.
            li 
                span Definir cuál será el régimen y la responsabilidad de la cooperativa y sus asociados.
            li 
                span Determinar cómo se va a realizar el manejo de las finanzas, la estructura y funcionamiento de la cooperativa. 
            li 
                span Por último, se debe realizar la aceptación por escrito de los estatutos.
